.home {
    position: relative; /* เพื่อให้ position:absolute ของ .home p, .joinbutton อ้างอิงกับ .home */
    width: 50%;
    max-width: 1200px;
    height: 100%;
    border-radius: 5px;
    box-sizing: border-box;
    text-align: center;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    margin-left: 30px;
    margin: 0 auto;
    margin-top: 110px; 
}
.home img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    display: block;
    filter: blur(0.5px) opacity(0.8); /* เพิ่มการเบลอและความจาง */
}

.home p, .joinbutton {
    color: white;
    position: absolute; /* ตำแหน่งแบบอัตโนมัติตาม .home */
}

.home p{
    color: white;
    position: absolute;
    top: 30%; /* จัดให้ข้อความชิดด้านบนของ .home */
    left: 30px; /* จัดให้ข้อความชิดด้านซ้ายของ .home */
    padding-left: 20px; /* เพิ่มเว้นระยะห่างระหว่างข้อความกับขอบ */
    font-family: "Josefin Sans", sans-serif;
    text-align: left;
    font-size: 3em;
}
.joinbutton {
    background-color: rgb(248, 175, 40);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
    bottom: 20px; /* ตำแหน่งล่างของ .home */
    left: 50%; /* ตำแหน่งแนวนอนกึ่งกลางของ .home */
    transform: translateX(-50%); /* ย้าย .joinbutton ไปที่กลางแนวนอนของ .home */
    margin-top: 20px; /* ระยะห่างของ .joinbutton จาก .home p */
    font-family: "Jockey One", sans-serif;
}
@media (max-width: 667px) {
    .home {
        width: 100%;
        margin-top: 130px;
    }
    .home p{
        font-size: 1.5em;
        text-align: left;
        position: absolute;
        left:20px
        
    }
    .joinbutton{
       font-size: 0.8em;
    }
  }
