<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Category Page</title>

    <link rel="stylesheet" href="/css2/Business/categoriesBusiness.css">
   
    <%- include('../partials/link')  %>
    
</head>

<body>

    <%- include('../partials/navBusiness')  %>    

    <section id="feature">
        <div class="allcategory">
            <div class="row">
                <div class="col-6 col-sm-6 col-lg-3">
                    <button class="beverages" style="color: black;">
                        <img src="/image/baverage2.jpeg" alt="">
                        <p>Beverages</p>
                        <div class="editbutton">
                            <span style="color: white;"><b>Edit</b><i class="fa fa-angle-right"></i></span>
                        </div>
                        <div class="deletebutton">
                            <span style="color: white;"><b>Delete</b><i class="fa fa-angle-right"></i></span>
                        </div>
                    </button>
                </div>
                <div class="col-6 col-sm-6 col-lg-3">
                    <button class="fruits" style="color: black;">
                        <img src="/image/fruit.jpeg" alt="">
                        <p>Fruits And <br>Vegetables</p>
                        <div class="editbutton">
                            <span style="color: white;"><b>Edit</b><i class="fa fa-angle-right"></i></span>
                        </div>
                        <div class="deletebutton">
                            <span style="color: white;"><b>Delete</b><i class="fa fa-angle-right"></i></span>
                        </div>
                    </button>
                </div>
                <div class="col-6 col-sm-6 col-lg-3">
                    <button class="household" style="color: black;">
                        <img src="/image/household.jpeg" alt="">
                        <p>Household</p>
                        <div class="editbutton">
                            <span style="color: white;"><b>Edit</b><i class="fa fa-angle-right"></i></span>
                        </div>
                        <div class="deletebutton">
                            <span style="color: white;"><b>Delete</b><i class="fa fa-angle-right"></i></span>
                        </div>
                    </button>
                </div>

                <div class="col-6 col-sm-6 col-lg-3">
                    <button class="meat" style="color: black;">
                        <img src="/image/meat.png" alt="">
                        <p>Meat And <br>Seafood</p>
                        <div class="editbutton">
                            <span style="color: white;"><b>Edit</b><i class="fa fa-angle-right"></i></span>
                        </div>
                        <div class="deletebutton">
                            <span style="color: white;"><b>Delete</b><i class="fa fa-angle-right"></i></span>
                        </div>
                    </button>
                </div>

                <div class="col-6 col-sm-6 col-lg-3">
                    <div class="addnew">
                        <div class="addnewicon">
                            <a href="/html2/Business/editCategory.html">
                                <img src="/image/addnewicon.png" alt="">
                                <a>
                        </div>
                        <p style="color: rgb(162, 161, 161);">Add new category</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="confirmbox">
            <p>Do you want to delete? <br> All product in this category will also delete.</p>
            <div class="continuebutton">
                <a href="#" style="color: rgb(255, 255, 255);"><b>Continue</b><i class="fa fa-angle-right"></i></a>
            </div>
            <div class="canclebutton">
                <a href="#" style="color: rgb(255, 252, 252);"><b>Cancle</b><i class="fa fa-angle-right"></i></a>
            </div>

        </div>
    </section>
   
    <script>
       document.querySelector('.beverages').addEventListener('click', function () {
            // ส่ง category_ID เป็น query parameter ใน URL
            window.location.href = "/html2/Business/productInCategory.html?category_ID=4";
        });
        document.querySelector('.fruits').addEventListener('click', function () {
            // ส่ง category_ID เป็น query parameter ใน URL
            window.location.href = "/html2/Business/productInCategory.html?category_ID=5";
        });
        document.querySelector('.household').addEventListener('click', function () {
            // ส่ง category_ID เป็น query parameter ใน URL
            window.location.href = "/html2/Business/productInCategory.html?category_ID=6";
        });
        document.querySelector('.meat').addEventListener('click', function () {
            // ส่ง category_ID เป็น query parameter ใน URL
            window.location.href = "/html2/Business/productInCategory.html?category_ID=7";
        });

    </script>
    
     <%- include('../partials/script')  %>
      
      <script src="/controllers/app.js"></script>

</body>
</html>